name: govulncheck

on:
  schedule:
    # Run every Monday
    - cron: '0 0 * * 1'

env:
  GO_VERSION: "^1.24"

permissions:
  contents: read

jobs:
  ci-security-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        name: Checkout code
      - name: Set up Go 1.x
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Install govulncheck binary
        run: |
          go install golang.org/x/vuln/cmd/govulncheck@latest
      - name: Run security checks
        run: |
          govulncheck ./...
